body{

    margin: 0%;
    padding: 0%;
    background-color: white;
    scroll-behavior: smooth;
}
.navbar{
    margin: 0%;
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 3;
    background-color: white;
    opacity: 0.7;
}
.lista{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.lista li {
    font-family: cursive;
    margin: 10px;
    color: black;
    font-size: 1.1em;
}
.lista li:hover{
    color: rgb(8, 154, 202);
    cursor: pointer;
}
.lista li a {
    text-decoration: none;
    color: inherit;
}
.login{
    border: 2em;
    width: 20vh;
    /* height: 2em; */
    border-radius: 15%;
    background-color: rgb(8, 154, 202);
    color: black;
    transition-property: width;
    transition-duration: 0.5s;
}
.login:hover{
    width: 22vh;
}
.btn-btn-primary{
    border: 2em;
    width: 30vh;
    /* height: 2em; */
    border-radius: 15%;
    background-color: rgb(8, 154, 202);
    color: black;
    transition-property: width;
    transition-duration: 0.5s;
}
.btn-btn-primary:hover{
    width: 32vh;
}
.offcanvas-end{
    background-color:rgb(8, 154, 202);
}
.offcanvas-end p{
    color: rgb(8, 154, 202);
}
.offcanvas-body{
 display: flex;
align-items: center;
justify-content: center;

}
.offcanvas-body h2{
margin-bottom: 100%;
color: black;
}

.card{
    border: 0%;
    width: 90%;
    position: absolute;
    border-color: black;

}

.email{
    height: 3em;
}
.texto{
    height:5em;
}


.portada{
    position: relative;
    background-color: white;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items:center;

}
.letras{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-portada{
margin-top: 5vh;
height: 90%;
width: 40%;
background-image: url(http://sc04.alicdn.com/kf/HTB1BH2fdjfguuRjy1zeq6z0KFXaw.jpg);
background-size: cover;
z-index: 2;

}
.hola{
    height: 100%;
}
.texto-portada{
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;


}
.texto-portada h1{
    display:flex;
    align-items: center;
    color: rgb(8, 154, 202);


}
.fecha{
    display: flex;
    width: 40%;
    height: 40%;
    color: rgb(8, 154, 202);
    justify-content: center;
    align-items: flex-start;
}
.imagenes{
    width: 100%;
    height: 39%;
    display: flex;

}
.atencion{
    display: flex;
    width: 60%;
    background-color: rgb(8, 154, 202);
    align-items: center;

}
.atencion h2{
    margin-left: 15vh;
    width: 40%;
color: white;
}
.carrusel{
    width: 40%;
    height: 100%;

}
.d-block{
    height: 100%;
}


.trajes{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;


}
.hombres-mujeres{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;


}

.uno{
    display: flex;
    width: 30%;
    height: 60vh;
    background-image: url(https://blog.querol.net/wp-content/uploads/2016/05/white-tie.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
transition-property: filter;
transition-duration: 1s;
}
.uno1{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    transition-property: filter;
transition-duration: 1s;

}
.uno:hover{
    filter:brightness(130%);
    outline: 5px solid white;
    outline-offset: 0px;
}
.uno1:hover{
    filter:brightness(35%);
    cursor:pointer;
}
.uno1 h2{
    color: white;
}


.dos{
    display: flex;
    width: 30%;
    height: 60vh;
    background-image: url(https://i.pinimg.com/originals/52/db/53/52db530ae7a6799ded825bc5e51e86f4.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
transition-property: filter;
transition-duration: 1s;

}
.dos2{
    background-color: rgba(0,0,0,0.2);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 1s;

}
.dos:hover{
    filter:brightness(130%);
    outline: 2px solid white;
    outline-offset: 0px;
}
.dos2:hover{
    filter:brightness(35%);
    cursor:pointer;

}
.dos2 h2{
    color: white;
    z-index: 0;
}
.outlet-accsesorios{
    margin-top: 2em;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
}

.tres{
    display: flex;
    width: 30%;
    height: 60vh;
    background-image: url(https://ae01.alicdn.com/kf/Ha4c6ca6d856f43578ebaadd63ac86896U/Anniebrit-nico-traje-Formal-de-rayas-grises-para-hombre-traje-de-negocios-a-medida-esmoquin-de.jpg_q50.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
transition-property: filter;
transition-duration: 1s;
}
.tres3{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    transition-property: filter;
    transition-duration: 1s;

}
.tres:hover{
    filter:brightness(130%);
    border: 50vh;
    border-color: rgb(8, 154, 202) ;
    outline: 5px solid white;
    outline-offset: 0px;
}
.tres3:hover{
    filter:brightness(35%);
    cursor:pointer;
}
.tres3 h2{
    color: white;
    z-index: 0;
}
.cuatro{
    display: flex;
    width: 30%;
    height: 60vh;
    background-image: url(https://www.rooks-rocks.com.mx/wp-content/uploads/2019/12/accesorios-hombre-1.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 122px 8px rgba(0,0,0,0.75);
transition-property: filter;
transition-duration: 1s;
}
.cuatro:hover{
    filter:brightness(130%);
    border: 50vh;
    border-color: rgb(8, 154, 202) ;
    outline: 5px solid white;
    outline-offset: 0px;
}

.ofertas{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content:space-around ;
}
.sobretodo{
    width: 20%;
    height: 100%;
    background-color:rgb(8, 154, 202)  ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.imagen-sobretodo{
    background-image: url(https://http2.mlstatic.com/D_NQ_NP_769704-MLA31172376018_062019-O.jpg);
    width: 100%;
    height: 50%;
    background-size: cover;
}
.texto-sobretodo{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-sobretodo p{
color: white;
font-size: 3.5vh;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sobretodo:hover{
    filter:brightness(90%);
    border: 50vh;
    border-color: rgb(8, 154, 202) ;
    outline: 5px solid white;
    outline-offset: 0px;
    cursor:pointer;
    transition-property: filter;
    transition-duration: 0.5s;
}
.pantalon{
    width: 20%;
    height: 100%;
    background-color:rgb(8, 154, 202)  ;
}
.imagen-pantalon{
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/51QIB6YGQcL._AC_UL200_SR200,200_.jpg);
    width: 100%;
    height: 50%;
    background-size: cover;
}
.texto-pantalon{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-pantalon p{
    color: white;
font-size: 3.5vh;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pantalon:hover{
    filter:brightness(90%);
    border: 50vh;
    border-color: rgb(8, 154, 202) ;
    outline: 5px solid white;
    outline-offset: 0px;
    cursor:pointer;
    transition-property: filter;
    transition-duration: 0.5s;
}
.zapato{
    width: 20%;
    height: 100%;
    background-color:rgb(8, 154, 202);
}
.imagen-zapato{
    background-image: url(https://irp-cdn.multiscreensite.com/dc92a77e/MOBILE/png/140716-dolcezza-calzado-zapatos-de-hombre.png);
    width: 100%;
    height: 50%;
    background-size: cover;
}
.texto-zapato{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-zapato p{
    color: white;
font-size: 3.5vh;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.zapato:hover{
    filter:brightness(90%);
    border: 50vh;
    border-color: rgb(8, 154, 202) ;
    outline: 5px solid white;
    outline-offset: 0px;
    cursor:pointer;
    transition-property: filter;
    transition-duration: 0.5s;
}
.camisa{
    width: 20%;
    height: 100%;
    background-color:rgb(8, 154, 202);
}
.imagen-camisa{
    background-image: url(https://http2.mlstatic.com/D_NQ_NP_861341-MLA40957849513_022020-W.jpg);
    width: 100%;
    height: 50%;
    background-size: cover;
}
.texto-camisa{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-camisa p{
    color: white;
font-size: 3.5vh;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.camisa:hover{
    filter:brightness(90%);
    border: 50vh;
    border-color: rgb(8, 154, 202) ;
    outline: 5px solid white;
    outline-offset: 0px;
    cursor:pointer;
    transition-property: filter;
    transition-duration: 0.5s;
}

.mensaje{
    width: 100%;
    height: 10%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie{
    display: flex;
    width: 100%;
    height: 25%;
    background-color: rgb(8, 154, 202);
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.contacto{
    display: flex;
    width: 40%;
    height: 30%;
    justify-content: center;

}
.contacto h2{
    color: white;
}
.iconos {
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;

}
.iconos i{
    font-size: 4vh;
}
.iconos a{
    text-decoration: none;
    
}
.instagram:hover{
    cursor: pointer;
    color: c13584;
}
.twiter:hover{
    cursor: pointer;
    color: 14171;
}
.facebook:hover{
    cursor: pointer;
    color: 3b5998;
}
.whatsapp:hover{
    cursor: pointer;
    color: 25d366;
}
@media(max-width: 360px){
    .uno{
        width: 45%;
        height: 30vh;
    }
    .dos{
        width: 45%;
        height: 30vh;
    }
    .tres{
        width: 45%;
        height: 30vh;
    }
    .cuatro{
        width: 45%;
        height: 30vh;
    }
    .ofertas{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 3vh;
        margin-right: 3vh;
    }
    .sobretodo{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 24%;
    }
    .imagen-sobretodo{
        background-image: url(https://http2.mlstatic.com/D_NQ_NP_769704-MLA31172376018_062019-O.jpg);
        width: 70%;
        height: 100%;
        background-position: center;
        }
        
    .texto-sobretodo{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0%;

    }
    .texto-sobretodo p{
        font-size: 2vh;
    }
    .pantalon{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 24%;
    }
   
    .imagen-pantalon{
        background-image: url(https://images-na.ssl-images-amazon.com/images/I/51QIB6YGQcL._AC_UL200_SR200,200_.jpg);
        width: 70%;
        height: 100%;
        background-position: center;
        }
        
    .texto-pantalon{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0%;

    }
    .texto-pantalon p{
        font-size: 2vh;
    }
    .zapato{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 24%;
    }
    
    .imagen-zapato{
        width: 70%;
        height: 100%;
        }
        
    .texto-zapato{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0%;

    }
    .texto-zapato p{
        font-size: 2vh;
    }
    .camisa{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 24%;
    }
   
    .imagen-camisa{
        background-image: url(https://http2.mlstatic.com/D_NQ_NP_861341-MLA40957849513_022020-W.jpg);
        width: 70%;
        height: 100%;
        background-position: center;
        }
        
    .texto-camisa{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0%;

    }
    .texto-camisa p{
        font-size: 2vh;
    }














