body{
    display: flex;
    align-items: center;
    justify-content: center;
}



.login{
    background-color: rgb(8, 154, 202);
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.email{
    font-size: 2.5vh;
   width: 70%;
   height: 10%;
}
.password{
    font-size: 2.5vh;
    margin-top: 2vh;
    width: 70%;
    height: 10%;
}
.chequeo{
    display: inline-block;
    font-size: 100vh;
}
.boton{
    background-color: white;
    margin-top: 5vh;
   
    width: 70%;
    height: 10%;

}
h5{
    margin: 0%;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}